.corpo-painel-coop {
    padding: 0;
    background-color: transparent;
    min-height: auto;
}

.grade-metricas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 35px;
}


.cartao-metrica {
    background: #ffffff;
    padding: 22px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    border: 1px solid #f1f5f9;
}


.icone-fundo-verde,
.icone-fundo-azul,
.icone-fundo-laranja,
.icone-fundo-roxo {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icone-fundo-verde {
    background-color: #dcfce7;
    color: #10b981;
}

.icone-fundo-azul {
    background-color: #e0f2fe;
    color: #0ea5e9;
}

.icone-fundo-laranja {
    background-color: #fef3c7;
    color: #f59e0b;
}

.icone-fundo-roxo {
    background-color: #f3e8ff;
    color: #a855f7;
}


.textos-metrica span {
    font-size: 0.85rem;
    color: #94a3b8;
    display: block;
    margin-bottom: 2px;
}

.textos-metrica strong {
    font-size: 1.3rem;
    color: #1e293b;
    font-weight: 700;
}

.quadro-principal {
    background: #ffffff;
    border-radius: 25px;
    padding: 45px;
    min-height: 450px;
    border: 1px solid #f1f5f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
}

.titulo-secao {
    color: #064e3b;
    font-size: 1.2rem;
    margin-bottom: 60px;
    font-weight: 400;
}

.container-vazio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.circulo-icone-caixa {
      width: 100px; 
    height: 100px;
    background-color: #f0fdf4; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10b981; 
    margin-bottom: 20px;
}

.circulo-icone-caixa:hover {
    transform: scale(1.05);
}

.mensagem-vazia {
    color: #0c9f6e;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}