.modal-overlay-morador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-container-refinado {
    background: white;
    width: 95%;
    max-width: 550px;
    border-radius: 30px;
    padding: 30px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.modal-scroll-area {
    overflow-y: auto;
    padding-right: 8px;
}

.label-teal {
    color: #008080;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.input-custom {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #c2eadd;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 1rem;
    box-sizing: border-box;
    appearance: none;
    position: relative;
    background: white;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.input-wrapper-icon {
    position: relative;
    width: 100%;
}

.icon-absolute {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #008080;
    pointer-events: none;
}

.grid-materiais-colorida {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 20px;
}

.card-material-vibrante {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #c2eadd;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.card-material-vibrante.active {
    border-color: #008080;
    background: #f0fdfa;
}

.icon-lucide-color {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.modal-btns-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.btn-cancel-border {
    background: white;
    border: 1px solid #0ea5e9;
    color: #008080;
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit-solid {
    background: #0ea5e9;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}