/*.como-funciona {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.como-funciona h2 {
    font-size: 32px;
    color: #0a5c2f;
    margin-bottom: 40px;

}

.como-funciona img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    max-width: 1100px;
    border-radius: 0.5rem;

}

.descricao {
    display: flex;
    gap: 6rem;
    color: #0a5c2f;
    text-align: center;
    
}*/