@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #EAF4F0;
}

/* No arquivo onde você monta a página (ex: App.css ou Home.css) */
.home-container {
    display: flex;
    flex-direction: column; /* Isso joga os cards para baixo da imagem */
    width: 100%;
}

