* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.cadastro-page {
    background-color: #f4f9f8;
    min-height: 100vh;
    width: 100%;
    padding: 40px;
    font-family: Arial, sans-serif;
    
}

.cadastro-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 32px;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.cadastro-card h2 {
    color: #14532D;
    margin-bottom: 10px;
}

.subtitle {
    color: #128125;
    margin-bottom: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section label {
    font-size: 14px;
    margin-bottom: 16px;
}

.section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.row {
    display: flex;
    gap: 16px;
}

.row .section {
    flex: 1;
}

h3 {
    margin: 24px 0 12px;
}

.btn-criar {
    width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #3F82FF, #1653FF);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 14px;
}


.label-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
}
.label-icon svg{
color: #14532D;
font-size: 14px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #333;
    margin-bottom: 6px;
}

.section-title svg {
    color: #14532D;
     font-size: 14px;
}

.cadastro-card h3 {
    margin-bottom: 24px;
}   

