.cards-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    margin-top: 5rem;   
    margin-bottom: 5rem;
}

.como-funciona-container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.home-container .como-funciona-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer-principal {
    width: 100%;
    background-color: #0a5c2f;
    display: flex;
    flex-direction: column;
}

