.container-historico {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    min-height: 350px;
    margin-top: 10px;
}

.titulo-secao {
    color: #095d3e;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
}

.conteudo-vazio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conteudo-vazio h4 {
    color: #09845b;
}

.conteudo-vazio p {
    color: #0c9f6e;
}

.circulo-icone {
    background-color: #F0FDF4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}